
<!--a{text-decoration: none; color: #ffffff; }-->
<!--a:hover{ color: #ffff1a;}-->


h1 {
  font: 400 60px/1.3 'Raleway', Georgia, serif;
  color: #e6e6e6; font-variant: small-caps;
}

p {
  font: 400 16px/1.6 'Raleway', Verdana, Helvetica, sans-serif;
}

<!--h3 {
  font: 400 22px/1.2 'Raleway', Helvetica, sans-serif;
  color: steelblue;
  text-shadow: 3px 3px 3px lightgrey; font-variant: small-caps;
}-->

<!--h4:hover {
    background-color: gold;
}

img {
        filter:drop-shadow(4px 4px 6px grey);
}

* {
    box-sizing: border-box;
}
img {
    max-width: 100%;
    height: auto;
}
.row:after {
    content: "";
    clear: both;
    display: block;
}
[class*="col-"] {
    float: left;
    padding: 15px;
    width: 100%;
}
@media only screen and (min-width: 600px) {
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
html {
    font-family: "raleway", Lucida, Sans-serif;
}
.header {
    background: linear-gradient(to right, #293d3d, #476b6b, #334d4d);
    color: #ffffff;
    padding: 15px;
    border-radius: 15px;
}
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu li {
    padding: 8px;
    margin-bottom: 7px;
    background: linear-gradient(to right, #293d3d, #476b6b);
    color: #ffffff;
    text-align: right;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 5px;
}
.menu li:hover {
    background-color: #FFD700;
}
.aside {
    background: linear-gradient(to right, orange, LightSkyBlue);
    padding: 15px;
    color: #ffffff;
    text-align: left;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 15px;
}
.footer {
    background: linear-gradient(to right, #293d3d, #476b6b, #334d4d);
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 15px;
    border-radius: 15px;
}
<!--embed {
    border-radius: 8px;
}-->
<!--img {
    border-radius: 8px;outline: none;
}-->

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
}

.dropdown:hover .dropdown-content {
    display: block;
}


div.img {
    border: 1px solid #ccc;
}

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}